﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< George.Modules.FacebookModule.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers



<script>

    //Using code from Facebook's JavaScript SDK examples, with custom added code

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1307426749307732',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });


  };

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
      FB.getLoginStatus(function (response) {
          statusChangeCallback(response);
      });
  }

  function fbLogout() {
      FB.logout(function (response) {
          //Do what ever you want here when logged out like reloading the page
          console.log("logged out!");
          window.location.reload();
      });
  }

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      $('#status').hide();
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
          // Logged into your app and Facebook.
          $("#FB-logout").show();
          $("#FB-login").hide();
          runAPI();
      } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          $('#status').slideDown();
          $('#status').html("Please log into this app.");
      } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          $('#status').slideDown();
          $('#status').html("Please log into Facebook.");
      }
  }

  // This runs after login is successful.  See statusChangeCallback() for when this call is made.
    function runAPI() {
        FB.api('/me?fields=id,name,location,hometown,birthday,friends,likes', function (response) {

            console.log(response);

            if(response.name != null){
                $("#name").html(response.name);
            } else {
                $("#name").html("No data");
            }

            if (response.birthday != null) {
                $("#birthday").html(response.birthday);
            } else {
                $("#birthday").html("No data");
            }

            if (response.friends.summary.total_count != null) {
                $("#friends").html(response.friends.summary.total_count);
            } else {
                $("#friends").html("No data");
            }

            if (response.hometown.name != null) {
                $("#hometown").html(response.hometown.name);
            }
            else {
                $("#hometown").html("No data");
            }

            if ((response.likes.data != null) && (response.likes.data.length > 0)) {
                for (i = 0; i < response.likes.data.length; i++) {
                    $("#likes").append("<li>" + response.likes.data[i].name + "</li>");
                }
            } else {
                $("#likes").html("<p>No data found</p>");
            }

            $("#results").fadeIn();
        });

    }
    

    $(document).ready(function () {
        $("#results").hide();
        $("#status").hide();
        $("#success").hide();
        $("#FB-logout").hide();

        //Below publishes form text to logged in Facebook user's feed

        $("#submit-to-facebook").click(function () {
            $("#success").hide();
            event.preventDefault();
            var FBmessage = $("#fb-post").val();
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // Facebook API call using SDK
                    FB.api('/me/feed', 'post', { message: FBmessage });
                    $("#success").slideDown();
                    $("#fb-post").val() = "";
                }
                else {
                    // Logs in user with public permissions, then performs above action
                    FB.login(function () {
                        FB.api('/me/feed', 'post', { message: FBmessage });
                        $("#success").slideDown();
                        $("#fb-post").val() = "";
                    }, { scope: 'publish_actions' });
                }
            });
        });

    });

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<h2>Facebook Module</h2>

<fb:login-button id="FB-login" scope="public_profile,email,user_friends,user_likes,user_hometown,user_birthday,publish_actions" onlogin="checkLoginState();">
</fb:login-button>

<button id="FB-logout" class="btn-danger btn" onclick="fbLogout()">Log out</button>


<div id="Items-@Dnn.ModuleContext.ModuleId">

    <div id="status" class="alert alert-warning"></div>

    <div id="results">
        <div id="success" class="alert alert-success">Successfully posted!</div>


        <form action="" id="post-to-facebook">
            <label for="fb-post">Post to your facebook feed:</label>

            <textarea name="fb-post" id="fb-post" class="form-control" required></textarea>

            <input type="submit" value="Submit" id="submit-to-facebook" class="btn-primary btn" />
        </form>
       

        <hr />

        <ul>
            <li>Name: <span id="name"></span></li>
            <li>Birthday: <span id="birthday"></span></li>
            <li>Number of friends: <span id="friends"></span></li>
            <li>Hometown: <span id="hometown"></span></li>
            <li>
                Likes:
                <ul id="likes"></ul>
            </li>


        </ul>
        <p id="profile">

        </p>
    </div>

</div>
